
 body{
 	margin: 0.1em auto 0.1em auto;
 	padding: .2em;
 	font-family: poppins;
 	background-color: #f6f6f6;
 	transition: .4s;
	 width:90%
        
 }

 header{
 	height: 7em;
 	color: white;
 	background: #ee3e80;
 	display: flex;
 	justify-content: space-between;
 }
 .logo{
 	margin-left: 1em;
 	width: 6em;
 }

 .log-text{
 	text-decoration: none;
 	font-family: lily script one;
 	color: white;
 	font-size: 2.1em;
 }

 .na-vv{
 	display: flex;
 	text-decoration: none;
 	list-style: none;
 	margin-top: 4em;
 	margin-right: 1em;
 }

 .na-v{
 	text-decoration: none;
 	color: white;
 	padding: .6em;
 	transition: .3s;

 }

 .na-v:hover{
 	color: maroon;
 	transform:scale(1.3);

 }

 main{
 	margin: 2em 1em;
 }
 .main-text{
 	font-size: 1.1em;
 	width: 98%;
 	margin: 1em auto 1em auto;
 }

 .bttns2{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .social{
 	margin: 2em;
 }
 .social{
 	text-decoration: none;
 	background-color: maroon;
 	color: white;
 	padding: .3em;
 	border-radius: 1.5em;
 }
 .social-no{
 	font-size: 1.3em;
 }

 .credit{
 	float: right;
 	margin-right: 1em;
 	font-size: 1.6em;
 	font-family: lilly script one;
 	color: #ee3e80;
 }
 .tp-bttn{
 	text-align: center;
 	transition: .3s;
 	margin-right: 3em;
 	margin-top: 2em;
 }
 .tp-bttn:hover{
 	transform: scale(1.1);
 }
 .top{
 	text-decoration: none;
 	color: white;
 	background-color: deeppink;
 	margin-top: 3em;
 	padding: .5em;
 	border-radius: 1.5em;
 }

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #333;
}
.click,.foot-c{
	color: white;
	margin-top: 1em;
	text-decoration: none;
	padding: 0em 1em 0em 1em;
}

.click:hover{
        color: #ee3e80;
}

.click-hide{
	display: none;
	color: white;
	margin-top: 1em;
	text-decoration: none;
	padding: 0em 1em 0em 1em;
}

@media only screen and (min-width: 580px){

.log-text{
	font-size: 2.3em;
}

.na-vv{
	margin-top: 2em;
	margin-right: .5em;
}
.na{

}

.social{
	font-size: 1.3em;
}
}
@media only screen and (min-width: 703px){

.log-text{
	font-size: 2.4em;
}

.na-vv{
	margin-top: 2em;
	margin-right: 1.3em;
}
.na{
font-size: 1.3em;
}

.social{
	font-size: 1.4em;
}

}

@media only screen and (min-width: 1020px){
.log-text{
	font-size: 2.6em;
}

.na-vv{
	margin-top: 2em;
	margin-right: 2em;
}
.na{
font-size: 1.6em;
}

.social{
	font-size: 1.4em;
}

}
